In [1]:
import pandas as pd
import numpy as np

In [ ]:
data_np = np.arange(12).reshape(4, 3) 
df_from_numpy = pd.DataFrame(data_np, columns=["A", "B", "C"])
print("DataFrame з NumPy:")
print(df_from_numpy, "\n")

DataFrame з NumPy:
   A   B   C
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [5]:
data_dict = {
    "Name": ["Olga", "Dmytro", "Iryna", "Oleh"],
    "Age": [25, 30, 22, 28],
    "City": ["Kyiv", "Lviv", "Kharkiv", "Odesa"]
}
df_from_dict = pd.DataFrame(data_dict)
print("DataFrame зі словника:")
print(df_from_dict, "\n")

DataFrame зі словника:
     Name  Age     City
0    Olga   25     Kyiv
1  Dmytro   30     Lviv
2   Iryna   22  Kharkiv
3    Oleh   28    Odesa

In [6]:
print("head():")
print(df_from_dict.head(2), "\n")

head():
     Name  Age  City
0    Olga   25  Kyiv
1  Dmytro   30  Lviv

In [7]:
print("describe():")
print(df_from_dict.describe(include="all"), "\n")

describe():
        Name    Age  City
count      4   4.00     4
unique     4    NaN     4
top     Olga    NaN  Kyiv
freq       1    NaN     1
mean     NaN  26.25   NaN
std      NaN   3.50   NaN
min      NaN  22.00   NaN
25%      NaN  24.25   NaN
50%      NaN  26.50   NaN
75%      NaN  28.50   NaN
max      NaN  30.00   NaN

In [8]:
print("iloc[1, 0] ->", df_from_dict.iloc[1, 0])

iloc[1, 0] -> Dmytro

In [9]:
print("loc[2, 'City'] ->", df_from_dict.loc[2, "City"])

loc[2, 'City'] -> Kharkiv